$background_color: #add8e6;
$width: 1000px;
$primary_color: #00bfff;
$primary_text_color: #e0ffff;

//header
$header_overwidth: 10px;
$header_height: 50px;
$header_text_height: 30px;

//main
$horizontal_padding: 20px;
$vertical_padding: 20px;
